<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="left-nav">
      <ul class="list-inline">
        <li><%= link_to "Home", jobs_path %></li>
        <li>
          <%= form_tag({controller: "jobs", action: "index"}, method: "get") do%>
              <%= text_field_tag(:search, nil, {placeholder: "Search for jobs"}) %>
          <%end%>
        </li>
      </ul>
    </div>
    <div class="right-nav">
      <ul>
        <li><%= link_to "Add Job", new_job_path %></li>
      </ul>
    </div>
  </header>
  <div class='content'>
    <%= yield %>
  </div>
</body>
</html>
